// Colours
$bgMagenta: hsl(273, 75%, 66%);
$bgPurple: hsl(240, 73%, 65%);
$basicText: hsl(238, 29%, 16%);
$hoverText: hsl(14, 88%, 65%);
$questionText: hsl(237, 12%, 33%);
$answerText: hsl(240, 6%, 50%);
$dividers: hsl(240, 5%, 91%);

// Type
$primaryFont: 'Kumbh Sans', sans-serif;

// Media Query Screen Sizes